*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
header,
footer,
aside,
nav,
article,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

img {
    display: block;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 700;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

a {
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
}

