@import "reset";

// primary col text
$col-ddBlue: hsl(238, 29%, 16%);
$col-sRed: hsl(14, 88%, 65%);

// gradient col
$col-bgsViolet: hsl(273, 75%, 66%);
$col-bgsBlue: hsl(240, 73%, 65%);

// Neutral
$col-vdgBlue: hsl(237, 12%, 33%);
$col-dgBlue: hsl(240, 6%, 50%);

// dividers
$col-lgBlue: hsl(240, 5%, 91%);

body {
    font-family: 'Kumbh Sans',
        sans-serif;
    line-height: 1.6;
    background-image: linear-gradient($col-bgsViolet, $col-bgsBlue);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 13px;
    height: 100vh;
    color: $col-ddBlue;
    display: grid;
    place-items: center;
    padding: 1.3em;
}


.active {
    display: block;
}

.bold {
    font-weight: 700;
    color: $col-ddBlue;

    img {
        transform: rotate(180deg);
    }
}

.card {
    background: white;
    border-radius: 1em;
    width: 100%;
    padding: 2em;

    .right-card {
        cursor: pointer;

        h1 {
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            margin-bottom: .3em;
            margin-top: 2.4em;
        }

        ul {
            color: $col-vdgBlue;
            margin-bottom: 2em;

            li {
                border-bottom: 1px solid $col-lgBlue;

                .question {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    margin-top: 1em;
                    justify-content: space-between;

                    &:hover {
                        color: $col-sRed;
                    }
                }

                .description {
                    margin-top: .6em;
                    margin-bottom: .6em;
                    color: $col-dgBlue;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .card {
        position: relative;

        .graph {
            img {
                max-width: 14.75em;
                margin: 0 auto;
                position: absolute;
                top: -6.6em;
                left: 0;
                right: 0;
            }

            .ptrn-mobile {
                top: .2em;
            }

            .desktop {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        padding-inline: 4em;
        font-size: 14px;
    }

    .card {
        padding: 0;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        position: relative;
        overflow: hidden;

        .graph {
            margin: 0;
            position: relative;

            .wrapper-illust {
                .illust-desk {
                    max-width: 45em;
                    margin: auto;
                    position: absolute;
                    overflow: hidden;
                    top: 0;
                    left: -21em;
                    bottom: 0;
                }
            }

            .box {
                z-index: 99;
                position: absolute;
                transform: translateX(-2em);
                width: 120px;
            }

            .woman-desk {
                max-width: 28.125em;
                margin: auto;
                position: absolute;
                top: 0;
                left: -4em;
                bottom: 0;
            }

            .mobile {
                display: none;
            }
        }

        .right-card {
            margin: 4em;
            margin-left: 0;

            h1 {
                margin-top: 0;
                margin-bottom: 1em;
            }

            ul {
                margin-bottom: 1.8em;
            }
        }
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 16px;
    }

    .card {
        max-width: 65.6em;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: -10em;

    a {
        color: white;
    }
}